/*  your css code here. If applicable */
.main_container{
	background-color:#f5f5f5;
	padding:40px;
}
.testimonial{
	border:1px solid #ddd;
	background-color: white;
	padding:20px;
	margin:20px auto;
}
.text{
	margin-bottom:10px;
}
.author{
	text-align: right;
	font-style: italic;
}